$default: #31352b;
$accent: #ff6838;

%rubik-300 {
  font-family: 'Rubik light', sans-serif;
  font-weight: 300;
}

%rubik-400 {
  font-family: 'Rubik Regular', sans-serif;
  font-weight: 400;
}

%rubik-500 {
  font-family: 'Rubik Medium', sans-serif;
  font-weight: 500;
}

%rubik-italic {
  font-family: 'Rubik Italic', sans-serif;
}

%OpenSans-600 {
  font-family: 'OpenSans-SemiBold', sans-serif;
  font-weight: 600;
}

%RobotoCondensed-400 {
  font-family: 'RobotoCondensed-Regular', sans-serif;
  font-weight: 400;
}